<!DOCTYPE html>
<html>
<link rel="stylesheet"  type="text/css" href="/css/icon-bar.css">
<link rel="stylesheet"   type="text/css" href="/css/check-in.css">
<script src="https://kit.fontawesome.com/9a7aeebf11.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<head title="check-in"></head>
<body>
<div class="icon-bar">
    <a href="/user/home"> <i class="fas fa-home"></i></a>
    <a href="search-location"><i class="fas fa-search-location"></i></a>
    <a class = "active"><i class="fas fa-map-marker-alt"></i></a>
    <a href="myProfile"> <i class="fas fa-user"></i></a>
    <a href="/user/notifications" class="notification"><i class="fas fa-bell"></i><span class="badge" id="badge"></span></a>
</div>
<br><br>
<div id="page-content">
<div class="msg1">Are you there right now?</div>
<div id="map"></div>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQppaGx-QFHdBvhmV4YD1wPEs_EygwJc&callback=initMap&libraries=&v=weekly"
        async defer
></script>
<div class="options">
<br>
<button id="send-location">Yes, Check In!</button>
<br>
Or choose location manually via <i class="fas fa-search-location"></i>
</div>
</div>
<p class = msg1 id="demo"></p>
</body>
<script src="/js/check-in.js"></script>
<script src="/js/notifications.js"></script>
</html>