<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/9a7aeebf11.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/icon-bar.css">
    <link rel="stylesheet" href="/css/sub-bar.css">
    <link rel="stylesheet" href="/css/search.css">
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<div class="icon-bar">
    <a class = "active" href="/user/home"> <i class="fas fa-home"></i></a>
    <a href="/user/search-location"><i class="fas fa-search-location"></i></a>
    <a href="/user/check-in"><i class="fas fa-map-marker-alt"></i></a>
    <a href="/user/myProfile"> <i class="fas fa-user"></i></a>
    <a href="/user/notifications" class="notification"><i class="fas fa-bell"></i><span class="badge" id="badge"></span></a>
</div>

<div class = "sub-bar">
    <a href="user/load-album"><i class="fas fa-upload"></i></a>
    <a class = "active" href="/user/find-photographer"><i class="fas fa-search"></i></a>
</div>

<div class="search-line" id="search-line"><input type="text" id="searchQuery"><a id = "search-btn"><i class="fas fa-search"></i></a></div>
<div class="errorMsg" id="errorMsg"></div>
<div class="results" id = "results">
</div>
</body>
<script src="/js/notifications.js"></script>
<script src = "/js/photographer-results.js"></script>
<script src = "/js/createStars.js"></script>
</html>