<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"  type="text/css" href="/css/icon-bar.css">
<link rel="stylesheet"   type="text/css" href="/css/pay.css">
<script src="https://kit.fontawesome.com/9a7aeebf11.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<head title="pay"></head>
<body>
<div class="icon-bar">
    <a href="/user/home"> <i class="fas fa-home"></i></a>
    <a href="search-location"><i class="fas fa-search-location"></i></a>
    <a  href="check-in"><i class="fas fa-map-marker-alt"></i></a>
    <a class = "active" href="myProfile"> <i class="fas fa-user"></i></a>
    <a href="/user/notifications" class="notification"><i class="fas fa-bell"></i><span class="badge" id="badge"></span></a>
</div>
    <div class="cardDetails" id="cardDetails">
        <h3>Credit Card Details</h3>
        <label>CARD OWNER</label><br>
        <input type="tel" class="details-fields" placeholder="First and Last Name"><br><br>
        <label>CARD Number</label><br>
            <input type="tel" class="details-fields" placeholder="Valid Card Number"><br><br>
        <label>EXPIRATION DATE</label><br>
        <input type="tel" class="details-fields" placeholder="MM/YY"><br><br>
        <label>CVC</label><br>
        <input type="tel" class="details-fields" placeholder="CVC"><br>
    </div>

    <div class="pay" id = "pay">
    <span>Amount: 0.8$</span> <a class="card" id = "finalPay">Pay <i class="far fa-credit-card"></i></a>
    </div>

    <div class="server-msg" id="msg">
        <span id = "msg1"></span>
        <a class="download" id="download">Download Image <i class="fas fa-cloud-download-alt"></i></a>
    </div>
</div>
</body>
<script src="/js/pay.js"></script>
</html>