<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<link rel="stylesheet" href="../static/css/icon-bar.css">
<link rel="stylesheet" href="photorapher-bar.css">
<script src="https://kit.fontawesome.com/9a7aeebf11.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<head>
    <title>View Album</title>
</head>

<div class="icon-bar">
        <a href="home.html"> <i class="fas fa-home"></i></a>
        <a href="search-location.html"><i class="fas fa-search-location"></i></a>
        <a><i class="fas fa-map-marker-alt"></i></a>
        <a href="home.html"> <i class="fas fa-user"></i></a>
        <a href="notifications.html" class="notification"><i class="fas fa-bell"></i><span class="badge">3</span></a>
    </div>

<body>
<div class="photographer-bar">
    <p>Location: <span id = "album-location">Gordon Beach</span></p>
    <p>Photographer: <span> </span> Liran Bahar <a type="button" href = "mailto: abc@example.com"> send email</a></p>
    <p>Rating:
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    (4.5)</p>
    <p>
  Rate Photographer:
    <span class="rateP"><i style="color: #c59b08" class="fas fa-star"></i>
    <i style="color: #c59b08" class="fas fa-star"></i>
    <i style="color: #c59b08" class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </span>
        <button>Rate!</button>
    </p>
</div>
</body>
</html>