body{
    background-color:#DCEDEF;
}

#map{
    width:100%;
    height:300px;
}

.msg1{
    font-family:Segoe UI, "Segoe UI";
    font-weight: bold;
    position: static;
    text-align: left;
    font-size: 20px;
    color: #08434e;
    background-color: white;
    border-radius: 5%;
    line-height: 180%;
}


.options{
    position: static;
    align-items: center;
    text-align: center;
    font-family:Segoe UI, "Segoe UI";
    color: #08434e;
    font-size: 25px;

}

input[type=text] {
    width: 55%;
    padding: 10px;
}
.options button, .button {
    position: static;
    font-family:Segoe UI, "Segoe UI";
    font-weight: bold;
    background-color: #08434e;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    font-size: 30px;
}
