.img-bar {
    width: 100%; /* Full-width */
    background-color: #08434e; /* Dark-blue background */
    overflow: auto; /* Overflow due to float */
    position: fixed;
    bottom: 0;
}

.img-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (4 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 40px; /* Increased font size */
}

.img-bar a:hover {
    background-color: #578B94; /* Add a hover color */
}

.img-view img{
    width: 100%;
    position: absolute;
    top: 25%;
}

body{
    display: block;
    margin: 2px;
    background-color: black;
}
