.notis{
    width: 100%;
}

.noNoti{
    font-family:Segoe UI, "Segoe UI";
    text-align: center;
    color: gray;
    font-weight: normal;
    font-size: 25px;
}
.notis a{
    display: block;
    font-family:Segoe UI, "Segoe UI";
    font-weight: bold;
    font-size: 20px;
    border-color: #104250;
    color: #104250;
    text-decoration: none;
    padding: 4%;
    border:solid
}

 .createdOn{
    color: gray;
     font-weight: normal;
     font-size: 15px;


 }
.new {
    background-color: #99f5c5;
}

.old{
    background-color: white;

}

body{
    background-color:#CDEAF2;
}